/* geek2.css             */
/* final project backend */

 main { background-color:#f0f0f0 ;}

/* #009688; teal color*/
.orange { background-color: #ff711a; } 

#falta {
    font-family: Monospace, Courier;
    font-size: 14px;
    background-color: #ffffe6;
    margin:10px auto ; 
    width: 650px; 
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
    line-height: 1.0;
   }

#fmodif {
    font-family: Monospace, Courier;
    font-size: 14px;
    background-color: #ffffe6;
    margin:10px auto ; 
    width: 580px; 
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
    line-height: 1.0;
    -moz-appearance: textfield !important;
   }

#flogin {
    font-family: Monospace, Courier;
    background-color: #ffffe6;
    margin: 10px auto ; 
    width: 400px; 
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

#rform2 {
    font-family: Monospace, Courier;
    background-color: #ffffe6;
    margin: 10px auto ; 
    width: 400px; 
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
}


.volver {
    color: black; 
    font-size: 9pt;
    padding: 2px 4px;
    text-decoration: none;
    margin: 4px 14px;
 }

#ftitulo { 
     font-family: Monospace, Courier;
/*     font-size: 23px; */
     text-align: center;
     text-shadow: 2px 2px 1px rgba(120,120,120,.5);
    }

/* original
#titulo { 
     font-family: Monospace, Courier;
     font-size: 23px; 
     text-align: center;
    }
*/

/* usa parte de bootstrap */
.btn-basic { 
    --bs-btn-bg: #e0e0e0;
    background-color: #e0e0e0; 
    --bs-btn-hover-bg: #c0c0c0;
}

.fbotones {
   width: 220px; 
   margin: 0 auto !important;
}

#footbar {
     height: 36px;
     background-color: #ff711a;
   }

.g20-ribbon { 
    background-color: #ff711a; 
    color: white;
    display: inline-block;
    font-size: 9pt;
    text-align: right; 
    padding-right: 24px;        
  }

#imagen { font-size: 12px; }

#c1 { text-align: center !important;
      font-family: Monospace, Courier;       
     }

img.absolute2 {
   position: absolute;  
   bottom: 80px;
   right: 230px;
 }

img.absolute1 {
   position: absolute;  
   bottom: 210px;
   right: 230px;
 }

/*
.btn-basic,.btn-gray { 
  --bs-btn-color: white;
background-color: #e0e0e0;  
  --bs-btn-bg: #e0e0e0;  
  --bs-btn-border-color: #e0e0e0;
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: #e0e0e0;
  --bs-btn-hover-border-color: gray;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: white;
  --bs-btn-active-bg: #e0e0e0;
  --bs-btn-active-border-color:#e0e0e0;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #e0e0e0;
  --bs-btn-disabled-border-color:e0e0e0;
}
*/

