<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="./img/shirt-icon.png" type="image/x-icon">

  <link rel="stylesheet" 
     href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="./css/geek.css">
  <link rel="stylesheet" href="./css/banner.css">
 <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
 <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title> Carousel </title>

</head>

<body>

<header id="header">
</header>

<main>
<br> 
<br>
    <h1>Remeras premium </h1> 

      <h5 id="my"> GEEK</h5>

<div class="contenedor">
</div>


<div id="demo" style="">
 &nbsp;
</div>

</main>


  <div id="app">

      <div v-if="error===true">Se produjo un error-intente mas tarde
      </div>
      <div v-else class="api-contenedor">
         
      <div v-for="shirt in datos" class="api-tarjeta">
                   
          <img :src="shirt.imagen" :alt="shirt.nombre"> 

          <div class="api-cuerpo">
            <h4 id="tjname"> {{shirt.nombre}}</h4>

            <h5 id="tjstat" class='red' v-if="shirt.stock < 1"> 
                   {{shirt.estado}} </h5>
            <h5 v-else id="tjstat"> {{shirt.estado}} </h5>   
          
            <h5 id="tjid" style="text-align:left;">&nbsp; #{{ shirt.id+1500}}</h5>               
          </div>
     
     </div> 

  </div>

  <br> <br>    
<!-- ........................................................................................... -->


 <section id="top-rated">
                 
            <p style="font-size: 24px; text-align: center;"><br>Las más populares</p>
            <br>
            <div class="container">
                                        
                  <div id="list-top-rated" class="movies-scroller">

                       <div v-for="shirt in datos" class="movie-item-v2 app">

                            <div class="wrapper">
                               <img :src="shirt.imagen"  width="250" :alt="T1"> 
                               <div class="cuerpo">
                                 <p class="itemName"> {{shirt.nombre}}</p>
                                 <p class="itemID">&nbsp; #{{ shirt.id+1500}} </p>
                               </div>
                            </div>

                      </div>

                  </div>

            </div>
 </section>


 <footer class="mytheme">
   <div class="myfooter">
      <!-- automatic js filled -->
  </div>   
 </footer>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="./js/api.js"></script>
<script src="./js/geek.js"> </script>
<script src="./js/geek2.js"> </script>
<script>
</script>
</body>
</html>
