<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="./img/shirt-icon.png" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
   integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
   crossorigin="anonymous">
 <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
 <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="./css/geek2.css">

<title> Sucursales </title> 

<style>
 main { background-color:#f0f0f0 ;}

.container { max-width: 980px; }
#tprod { background-color: white; }

tr:nth-child(even) {background-color: #e6ffe6;} 
tr:hover {background-color: #ffc7b3;}

#tope { 
     font-family: system-ui, Arial;
     font-size: 13px;
     font-weight: 300 !important;
     color: red;
     --bs-table-font-weight: 300;
}

td { font-size: 12px;}

.btn {
    --bs-btn-font-size: 0.8rem;
    --bs-btn-padding-x: 0.25rem;
    --bs-btn-padding-y: 0.3rem;
    --bs-btn-line-height: 1rem;
   }

.a1 { font-weight: 400 !important;}

</style>
<script>
function formatMoney( num ) 
{
 sNum = num.toString();
 nLen = sNum.length;
 part1 = sNum.slice(0, nLen-3)
 part2 = sNum.substr(-3);
 sNum = part1 + "." + part2 + ",00";
 return sNum; 
}


</script>
</head>

<body>
 <header id="header">
 </header>

<main>

    <div style="height: 100px;"> </div>

        <h1 id="c1">Sucursales</h1>

  <div id="app" class="container" style="width: 98vw; margin:0 auto;" >

        <a class="btn btn-primary" href="sucg_nuevo.html">Nueva sucursal</a>
        <br><br>
        <div v-if="error">
             <p>Lo sentimos , intente mas tarde........</p>
        </div>

        <div v-else>
            <section v-if="cargando">
                <div class="spinner-border"></div>
                <p>Cargando .....</p>
            </section>

            <section v-else>
                <div class="table-responsive-sm" >

                    <table class="table-sm table-bordered" id="tprod"
                       style="border:1px solid gray; border-radius: 6px; ">

                        <thead style="background-color: #e6e6e6; text-align:center;">
                            <tr id="tope">
                                <th scope="col" class="a1">&nbsp;Id &nbsp;</th>
                                <th scope="col" class="a1">Cod.Suc</th>
                                <th scope="col" class="a1">Nombre_de_Sucursal</th>
                                <th scope="col" class="a1">Distrito</th>
                                <th scope="col" class="a1">Calle</th>
                                <th scope="col" class="a1">Número</th>
                                <th scope="col" class="a1">C.Post</th>
                                <th scope="col" class="a1"> Observaciones</th>
                                <th scope="col" class="a1">Ult. Modific.</th>
                                <th scope="col" class="a1"> Acciones_del_usuario &nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="" v-for="sucursal in sucursales">
                                <td scope="row">&nbsp; {{sucursal.id}}</td>
                                <td>{{sucursal.codsuc}} </td>
                                <td>{{sucursal.nombresuc}}</td>
                                <td>{{sucursal.distrito}} </td>
                                <td>{{sucursal.calle}}  </td>
                                <td>{{sucursal.numero}} </td>
                                <td>{{sucursal.codpost}}</td>     
                                <td>{{sucursal.obser}}  </td>     
                                <td>{{sucursal.ultmod}} </td>
                                <td> &nbsp;
                      <a class="btn btn-primary" :href="'sucg_update.html?id='+ sucursal.id"
                      >Editar</a> &nbsp;
                     <button type="button" class="btn btn-danger" v-on:click="eliminar(sucursal.id)" 
                      > Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>

</div>

<div style="height: 180px;"> </div>

</main>

<footer id="volver">
</footer>


<!--Link de Bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
crossorigin="anonymous"></script>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> 
<script src="./js/geek.js"></script>
<script src="./js/geek2.js"></script>
<script src="./js/sucgvue.js"></script>

</body>
</html>      

